* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #fafafa;
  height: 100vh;
}

.content {
  min-height: 100%;
}

.header {
  display: flex;
  align-content: center;
  gap: 6.2rem;
  padding: 2.2rem 4rem;
  color: hsl(0, 0%, 8%);
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.header__logo {
  display: flex;
  align-items: center;
}
.header .logo img {
  width: 8.35rem;
  height: 2.658rem;
}

.header a {
  text-decoration: none;
  color: #686868;
}

.header a:hover {
  color: #151515;
}

.header__nav-left {
  width: 33.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-right {
  width: 18.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.header__nav-right button {
  border: none;
  background-color: #fafafa;
}

.header__nav-right .register {
  border: 0.15rem solid #686868;
  border-radius: 1.4rem;
  padding: 1.3rem 2.3rem;
}

.header__nav-right .register:hover {
  cursor: pointer;
  border: 0.15rem solid #151515;
}

.hero {
  margin: 0 1.3rem;
  display: flex;
  justify-content: space-around;
}

.hero .hero-primary {
  width: 44.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
}

.hero .hero-primary h1 {
  font-family: "Epilogue";
  font-style: normal;
  font-size: 8rem;
  line-height: 8rem;
  letter-spacing: -0.111111rem;
  color: #151515;
}

.hero .hero-primary p {
  width: 44.5rem;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #686868;
}

.hero .hero-primary button {
  background: #151515;
  border: 0;
  border-radius: 1.5rem;
  padding: 1.5rem 3.1rem;
  width: 16.3rem;
  height: 5.6rem;
  color: #fafafa;
  display: block;
}

.hero .hero-primary .clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hero-primary .clients img:nth-child(1) {
  height: 2rem;
  left: 16.538rem;
}

.hero .hero-primary .clients img:nth-child(2) {
  width: 7.3rem;
  height: 3.59rem;
}

.hero .hero-primary .clients img:nth-child(3) {
  width: 8.931rem;
  height: 2rem;
}

.hero .hero-primary .clients img:nth-child(1) {
  width: 8.201rem;
  height: 2.4rem;
}

.hero .hero-secondary {
  display: block;
  background-image: url("images/image-hero-desktop.png");
  width: 34rem;
  height: 46rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-top: -1.3rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.features-container {
  position: relative;
}

.features-items {
  position: fixed;
  left: 10rem;
  top: 6rem;
  width: 15.3rem;
  height: 16rem;
  background: #ffffff;
  box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.149126);
  border-radius: 1rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features-container li {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}

.feature-items-remove {
  display: none;
}

/* company */
.company-container {
  position: relative;
}

.company-items {
  position: fixed;
  left: 24rem;
  top: 6rem;
  width: 11.6rem;
  height: 12.8rem;
  background: #ffffff;
  box-shadow: 0px 1rem 4rem rgba(0, 0, 0, 0.149126);
  border-radius: 1rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company-container li {
  list-style: none;
}

.company-items-remove {
  display: none;
}
